<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Sports scoring app</title>
</head>

<body>
    <header>
        <h1>Fictional league</h1>
    </header>
    <div>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li>
                    <ul>
                        <li><a href="/clubs">Clubs</a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a href="/fixtures">Fixtures</a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a href="/tables">Table</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div id="grid-container-content">


        {% block content %}
        {% endblock %}

        <div class="mini-table">
            <h4>Table</h4>
            <table>
                <thead>
                    <tr>
                        <th>Club</th>
                        <th>Played</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                    <tr>
                        <td> <a href="/clubs/{{ team.id }}">{{ team.team_name }}</a></td>
                        <td>{{ team.fixtures_played }}</td>
                        <td>{{ team.points }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>